<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8f8d">  <td>21/01/15 15:58:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Google.chromeDriver()[pri:0, instance:Task.seleniumWebDriver.Google@3e6ef8ad]">&gt;&gt;chromeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1048855692</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/01/15 15:58:27</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Google.Search()[pri:0, instance:Task.seleniumWebDriver.Google@3e6ef8ad]">Search</td> 
  <td>main@1048855692</td>   <td></td> </tr>
</table>
